<web-app>

<servlet>
<servlet-name>InsertServlet</servlet-name>
<servlet-class>Insert</servlet-class>
</servlet>

<servlet>
<servlet-name>UpdateServlet</servlet-name>
<servlet-class>Update</servlet-class>
</servlet>

<servlet>
<servlet-name>DeleteServlet</servlet-name>
<servlet-class>Delete</servlet-class>
</servlet>

<servlet>
<servlet-name>InsertDBServlet</servlet-name>
<servlet-class>InsertDB</servlet-class>
</servlet>

<servlet>
<servlet-name>UpdateDBServlet</servlet-name>
<servlet-class>UpdateDB</servlet-class>
</servlet>

<servlet>
<servlet-name>DeleteDBServlet</servlet-name>
<servlet-class>DeleteDB</servlet-class>
</servlet>

<servlet>
<servlet-name>SelectServlet</servlet-name>
<servlet-class>Select</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>InsertServlet</servlet-name>
<url-pattern>/insert</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>UpdateServlet</servlet-name>
<url-pattern>/update</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>DeleteServlet</servlet-name>
<url-pattern>/delete</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>InsertDBServlet</servlet-name>
<url-pattern>/insertdb</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>UpdateDBServlet</servlet-name>
<url-pattern>/updatedb</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>DeleteDBServlet</servlet-name>
<url-pattern>/deletedb</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>SelectServlet</servlet-name>
<url-pattern>/list</url-pattern>
</servlet-mapping>
</web-app>
